In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
df = pd.read_csv('data.csv', encoding= 'unicode_escape')
df['event_time'] = pd.to_datetime(df['event_time'])
df['user_id'] = df['user_id'].astype(str)
disk_engine = create_engine('sqlite:///marketing_attribution_data.db')

In [ ]:
df[df['event_name']=='session_start'].to_sql('session_start', disk_engine, if_exists='replace',index=False)
df[df['event_name']=='purchase'][['event_time',
                                  'session_id',
                                  'event_name',
                                  'user_id',
                                  'transaction_id',
                                  'total_item_quantity',
                                  'purchase_revenue_in_usd']]\
                        .to_sql('purchase', disk_engine, if_exists='replace',index=False)

---
#### Sample Data

In [ ]:
#session data
pd.read_sql_query('''
select *
from session_start
limit 5
''',disk_engine)

---
#### Transacting User Journey

In [ ]:
pd.read_sql_query('''
select *
from session_start
where user_id = '4670841.6660469435'
limit 5
''',disk_engine)

In [ ]:
pd.read_sql_query('''
select *
from purchase
where user_id = '4670841.6660469435'
limit 5
''',disk_engine)

---
#### Non-Transacting User Journey

In [ ]:
pd.read_sql_query('''
select *
from session_start
where user_id = '1019199.3353128468'
limit 100
''',disk_engine)

In [ ]:
pd.read_sql_query('''
select *
from purchase
where user_id = '1019199.3353128468'
''',disk_engine)

---
#### Defining Channel based on utm_parameters

In [ ]:
pd.read_sql_query('''

''',disk_engine)

In [ ]:
pd.read_sql_query('''

''',disk_engine)

In [ ]:
pd.read_sql_query('''

''',disk_engine)

---
#### "Marrying" Sales to the Marketing touch

In [ ]:
pd.read_sql_query('''

''',disk_engine)

In [ ]:
pd.read_sql_query('''

''',disk_engine)

In [ ]:
pd.read_sql_query('''

''',disk_engine)

---
#### Attribution come to action
first touch 7 days

In [ ]:
##FIRST TOUCH LAST 7 DAYS
pd.read_sql_query('''

''',disk_engine)

In [ ]:
##FIRST TOUCH LAST 7 DAYS
pd.read_sql_query('''

''',disk_engine)

In [ ]:
##Session Data
pd.read_sql_query('''

''',disk_engine)

In [ ]:
##FIRST TOUCH LAST 7 DAYS
pd.read_sql_query('''

''',disk_engine)

---
Last touch attribution

In [ ]:
##LAST TOUCH LAST 7 DAYS
pd.read_sql_query('''

''',disk_engine)

In [ ]:
##LAST TOUCH
pd.read_sql_query('''


''',disk_engine)

---
Multi touch attribution: Equal Distribution

In [ ]:
##Equally Distributed
pd.read_sql_query('''

''',disk_engine)

In [ ]:
##LAST TOUCH LAST Equally Distributed
pd.read_sql_query('''

''',disk_engine)

In [ ]:
pd.read_sql_query('''

''',disk_engine)

---
U Shape Attribution

In [ ]:
##U-Shape attribution
pd.read_sql_query('''

''',disk_engine)

In [ ]:
pd.read_sql_query('''

''',disk_engine)