In [4]:
import pandas as pd
from sqlalchemy import create_engine

###  *Set up sqllite database*

In [6]:
df = pd.read_csv('data.csv', encoding= 'unicode_escape')
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

disk_engine = create_engine('sqlite:///transaction_data.db')
df.to_sql('transactions', disk_engine, if_exists='replace')

### *Customers Geography Analysis*

In [8]:
pd.read_sql_query('''
select count(*)
from transactions
''',disk_engine)

   count(*)
0    541909

### *Customer Value Analysis*

In [ ]:
pd.read_sql_query('''

''',disk_engine)